.missiondata{
    margin-top: 80px;
   text-align: center;
   margin-bottom: 80px;



 h1{
    color: #36b317;
    font-size: 35px;
 }

 p{
    color: rgb(83, 71, 71);
    font-size: 16px;


}


.mission_img{
 
    margin-left: 80px;
    align-items: center;
 
}
}