

.client_main_container{
  margin-top: 80px;
  margin-left: 65px;

  h1,.client_heading{
    font-size: 40px;
    font-weight: 600;
    color:#84b41b;
 

    .client_span{
      color: rgb(56, 42, 42);
    }
  }
  
}
.client_main_imgdiv{
  .client_image{
    margin: 58px;
padding-left: 10px;
width: 220px;
height: auto;

  }
}

