.sidebar{
  
    display: flex1;
    min-height:100vh;
    font-weight: bold;
}

.top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(127, 73, 177);
}

.center{
    padding-left: 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding:0;
}
.title{
    font-size: 10px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
}
li{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

li:hover{
    background-color: #ece8ff;
}
.icon{
    font-size: 18px;
    color: rgb(127, 73, 177);
}

.bottom{
    display: flex;
    align-items: center;
    margin: 10px;
}
.colorOption{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(127, 73, 177);
    cursor: pointer;
}
.colorOption:nth-child(1){
    background-color: whitesmoke;
}
.colorOption:nth-child(2){
    background-color:#333;
}
.colorOption:nth-child(3){
    background-color: darkblue;
}